<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="startPageOpen" style="display: block">
  <div class="start-display">
    <span><em>nonogram</em></span>
  </div>
  <div class="start-display-options">
    <div class="input-item-margin">
      Number of rows: <input class="start-input" size="1" min="1" max="20" type="number" name="rows" [(ngModel)]="startPage.rowCountInput">
    </div>
    <div class="input-item-margin">
      Number of columns: <input class="start-input" size="1" min="1" max="20" type="number" name="columns" [(ngModel)]="startPage.columnCountInput">
    </div>
    <div>
      <button type="button" class="start-button" (click)="startClick()">Start</button>
    </div>
    <div *ngIf="startPage.startInputsErrorMessage" class="start-page-error-input">
      {{ startPage.startInputsErrorMessage }}
    </div>
    <div style="font-size: 16px !important;">
      <br/>
      Keyboard navigation: (a, s, d) -> (select square, cross square, mark square)<br>
      Arrow keys to move<br><br>
      Hover navigation: (z, x, d) -> (select square, cross square, mark square) OR<br>
      Mouse navigation (left click, right click, middle click) -> (select square, cross square, mark square)
    </div>
  </div>
</div>
<div *ngIf="!startPageOpen">
  <div class="game-table-parent">
    <table class="game-table" #gameTable>
      <tr>
        <td></td>
        <td *ngFor="let colNumCollection of currentGameData.colNumbers; let colIndex = index;" class="number-cell-top" [ngStyle]="{ 'background-image': getTopNumberCellBackgroundImage(colIndex) }">
          <div class="bottom-align">
            <div *ngFor="let numVal of colNumCollection" class="number-inner-cell-display-top">
              <div>{{ numVal }}</div>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngFor="let row of currentGameData.squareProperties; let rowIndex = index;">
        <td class="number-cell-left" [ngStyle]="{ 'background-image': getLeftNumberCellBackgroundImage(rowIndex) }">
          <div *ngFor="let numVal of currentGameData.rowNumbers[rowIndex]" class="number-inner-cell-display-left">{{ numVal }}</div>
        </td>
        <td *ngFor="let col of row; let colIndex = index;"
            class="game-cell"
            [style.border-color]="getCellBorderColor(colIndex, rowIndex)"
            [style.background-color]="getBackgroundColor(col, rowIndex)"
            (click)="gameCellClick(col)"
            (middleclick)="gameCellMiddleClick(col)"
            (mouseenter)="gameCellMouseEnter(colIndex, rowIndex)"
            (mouseleave)="gameCellMouseLeave()"
            (contextmenu)="gameCellRightClick(col)">
          <div class="inner-cell-display">
            <div style="height: 80%; width: 80%; margin: auto;">
              <img *ngIf="![null, squareOptionsEnum.Selected].includes(col.currentSelectionType)" class="cell-icon" [src]="getGameCellImageSrc(col)">
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div [style.width.px]="gameTableWidth">
      <div class="settings-icon" (click)="settings.exportPuzzle()">
        <img class="settings-icon-svg" src="assets/baseline-settings-20px.svg">
      </div>
      <div class="assist-text" (click)="assistToggle()">Assist: {{ currentGameData.assist ? 'On': 'Off' }}</div>
    </div>
    <div *ngIf="currentGameData.solved" class="solved-display">
      <br>
      The puzzle has been solved&nbsp;<button class="start-button" (click)="startPageOpen = true">Return to start page</button>
    </div>
  </div>
</div>
