<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="startPageOpen" style="display: block">
  <div class="start-display">
    <span><em>nonogram</em></span>
  </div>
  <div class="start-display-options">
    <div class="input-item-margin">
      Number of rows:
      <select class="form-item-right" [(ngModel)]="startPage.rowCountInput">
        <option *ngFor="let colSize of COL_SIZES" [value]="colSize">{{ colSize }}</option>
      </select>
    </div>
    <div class="input-item-margin">
      Number of columns:
      <select class="form-item-right" [(ngModel)]="startPage.columnCountInput">
        <option *ngFor="let colSize of COL_SIZES" [value]="colSize">{{ colSize }}</option>
      </select>
    </div>
    <div>
      <button type="button" class="start-button" (click)="startClick()">Start</button>
    </div>
    <div *ngIf="startPage.startInputsErrorMessage" class="start-page-error-input">
      {{ startPage.startInputsErrorMessage }}
    </div>
    <div style="font-size: 16px !important;">
      <br/>
      Keyboard navigation: (a, s, d) -> (select square, cross square, mark square)<br>
      Arrow keys to move<br><br>
      Hover navigation: (z, x, d) -> (select square, cross square, mark square) OR<br>
      Mouse navigation (left click, right click, middle click) -> (select square, cross square, mark square)
    </div>
  </div>
</div>
<div *ngIf="!startPageOpen && currentGameData">
  <div class="game-table-parent">
    <div class="game-table-container">
      <table class="game-table">
        <tr style="height: 100%;">
          <td class="info-display" [style.color]="currentGameData.everSolved ? '#AADB1E' : 'white'">{{ currentGameData.timer.formattedTime }}</td>
          <td *ngFor="let colNumCollection of currentGameData.colNumbers; let colIndex = index;">
            <div class="number-cell-top number-cell-top-moz" [ngStyle]="{ 'background-image': getTopNumberCellBackgroundImage(colIndex) }" style="height: 100%;">
              <div class="hide-top-px-number-cell"></div>
              <div class="number-cell-top-inner-pad"></div>
              <div *ngFor="let numVal of colNumCollection" class="number-inner-cell-display-top">
                <div [style.color]="numVal.solved ? '#495A67' : '#FFFFFF'">{{ numVal.value }}</div>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngFor="let row of currentGameData.gameSquare; let rowIndex = index; trackBy: rowTrackBy">
          <td>
            <div class="number-cell-left" [ngStyle]="{ 'background-image': getLeftNumberCellBackgroundImage(rowIndex) }">
              <div class="hide-left-px-number-cell"></div>
              <div *ngFor="let numVal of currentGameData.rowNumbers[rowIndex]" class="number-inner-cell-display-left">
                <div [style.color]="numVal.solved ? '#495A67' : '#FFFFFF'">{{ numVal.value }}</div>
              </div>
            </div>
          </td>
          <td *ngFor="let col of row; let colIndex = index; trackBy: colTrackBy">
            <div
              class="game-cell"
              [style.border-color]="getCellBorderColor(colIndex, rowIndex)"
              [style.background-color]="getBackgroundColor(col, rowIndex)"
              (click)="gameCellClick(col)"
              (middleclick)="gameCellMiddleClick(col)"
              (mouseenter)="gameCellMouseEnter(colIndex, rowIndex)"
              (mouseleave)="gameCellMouseLeave()"
              (contextmenu)="gameCellRightClick(col)">
              <div class="inner-cell-display">
                <div>
                  <img *ngIf="![null, squareOptionsEnum.Selected].includes(col.currentSelectionType)" class="cell-icon" [src]="getGameCellImageSrc(col)">
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div style="width: 100%;">
      <app-settings class="settings-component"></app-settings>
    </div>
    <div *ngIf="currentGameData.solved" class="solved-display">
      <br>
      The puzzle has been solved&nbsp;<button class="start-button" (click)="resetGame()">Return to start page</button>
    </div>
  </div>
</div>
