<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="startPageOpen" style="display: block">
  <div class="start-display">
    <span><em>nonogram</em></span>
  </div>
  <div class="start-display-options">
    <div class="input-item-margin">
      Number of rows: <input class="start-input" size="1" min="0" max="15" type="number" name="rows" [(ngModel)]="rowCount">
    </div>
    <div class="input-item-margin">
      Number of columns: <input class="start-input" size="1" min="0" max="15" type="number" name="columns" [(ngModel)]="columnCount">
    </div>
    <div>
      <button type="button" class="start-button" (click)="startClick()">Start</button>
    </div>
    <div style="font-size: 16px !important;">
      <br/>
      Keyboard navigation: (a, s, d) -> (select square, cross square, mark square)<br>
      Arrow keys to move<br><br>
      Hover navigation: (z, x, d) -> (select square, cross square, mark square) OR<br>
      Mouse navigation (left click, right click, middle click) -> (select square, cross square, mark square)
    </div>
  </div>
</div>
<div *ngIf="!startPageOpen" style="height: 100%;" (keydown)="gameKeyPress($event)">
  <div class="game-table-parent" style="overflow: hidden;">
    <table class="game-table">
      <tr>
        <td></td>
        <td *ngFor="let colNumCollection of currentGameData.colNumbers" class="number-cell-top">
          <div class="bottom-align">
            <div *ngFor="let numVal of colNumCollection" class="number-inner-cell-display-top">
              <div>{{ numVal }}</div>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngFor="let row of currentGameData.squareProperties; let rowIndex = index;">
        <td class="number-cell-left">
          <div *ngFor="let numVal of currentGameData.rowNumbers[rowIndex]" class="number-inner-cell-display-left">{{ numVal }}</div>
        </td>
        <td *ngFor="let col of row; let colIndex = index;"
            class="game-cell"
            [style.border-color]="getCellBorderColor(colIndex, rowIndex)"
            [style.background-color]="getBackgroundColor(col, rowIndex)"
            (click)="gameCellClick(col)"
            (middleclick)="gameCellMiddleClick(col)"
            (mouseenter)="gameCellMouseEnter(colIndex, rowIndex)"
            (mouseleave)="gameCellMouseLeave()"
            (contextmenu)="gameCellRightClick(col)">
          <div class="inner-cell-display">
            <div style="height: 80%; width: 80%; margin: auto;">
              <img *ngIf="col.currentSelectionType === squareOptionsEnum.Marked" class="cell-icon" src="assets/baseline-help_outline-24px.svg">
              <img *ngIf="col.currentSelectionType === squareOptionsEnum.Crossed" class="cell-icon" src="assets/baseline-clear-24px.svg">
              <img *ngIf="col.currentSelectionType === squareOptionsEnum.Error" class="cell-icon" src="assets/baseline-highlight_off-24px.svg">
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div style="width: 100%;">
      <div style="float: left;">Solved: {{ currentGameData.solved }}</div>
      <div class="assist-text" (click)="assistToggle()">Assist: {{ currentGameData.assist ? 'On': 'Off' }}</div>
    </div>
  </div>
</div>
