@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

@supports (-moz-appearance:none) {
  .number-cell-top-moz {
    // Not perfect numbers
    transform: translateY(calc(-1px - 0.24vh - 0.07vw));
  }
}

table, tr, td { height: 100%; }

// Draw gridlines
tr:nth-child(5n + 1):not(:first-child):not(:last-child) {
  border-bottom: 3px solid #444444;
}
td:nth-child(5n + 1):not(:first-child):not(:last-child) {
  border-right: 3px solid #444444;
}

div.number-cell-left div:nth-child(2) {
  margin-left: calc(.5vw + .5vh);
}

.start-page-error-input {
  color: white;
  background-color: black;
  margin-top: 0.5em;
  border: calc(1px + 0.16vh + 0.2vw) solid black;
  border-radius: calc(.4vh + .2vw);
}

.info-display {
  text-align: center;
  vertical-align: middle;
  font-size: calc(.8vw + .7vh);
}

.start-display {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin-bottom: .5em;
  color: white;
  font-size: calc(10px + 10vw);
}

.start-display-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: calc(10px + 1vw + 1vh);
}

.start-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border-radius: calc(.4vh + .2vw);
  border: 3px solid white;
  padding: 15px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
  font-size: calc(10px + 1.7vw);
  font-weight: bold;
}

.input-item-margin {
  margin-bottom: 1em;
}

.start-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid white;
  color: white;
  font-size: calc(10px + 1vw + 1vh);
  width: 1.5em;
}

.game-table-parent {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  flex-direction: column;
  // border: calc(1px + 0.16vh + 0.2vw) solid black;
  // border-radius: calc(.4vh + .2vw);
}

.game-table-container {
  box-shadow: 0 3px 15px rgba(0,0,0,0.3);
  border: calc(1px + 0.16vh + 0.2vw) solid black;
  border-radius: calc(.4vh + .2vw);
  background-color: black;
}

.game-table {
  background-color: black;
  border-collapse: collapse;
}

.game-cell {
  transition: background-color 100ms linear, border 50ms linear;
  background-color: #919FA8;
  border-radius: calc(.4vh + .2vw);
  height: calc(1px + 1.8vh + 0.7vw);
  width: calc(1px + 1.8vh + 0.7vw);
  border: calc(1px + 0.10vh + 0.06vw) solid;
}

.solved-display {
  color: white;
  font-size: calc(10px + 2vw);
  text-align: center;
}

.inner-cell-display {
  height: calc(1px + 1.8vh + 0.7vw);
  width: calc(1px + 1.8vh + 0.7vw);
}

.number-inner-cell-display-top {
  font-size: calc(.8vw + .7vh);
  padding-bottom: calc(.35vw + .35vh);
}

.number-inner-cell-display-left {
  font-size: calc(.8vw + .7vh);
  padding-right: calc(.5vw + .5vh);
  display: flex;
  align-items: center;
}

.settings-component {
  margin-top: .5em;
}

// Chrome and edge workaround
.hide-top-px-number-cell {
  margin-bottom: auto;
  height: 2px;
  width: calc(1px + 1.8vh + 0.7vw);;
  background-color: black;
}

// Chrome and edge workaround
.hide-left-px-number-cell {
  margin-right: auto;
  width: 2px;
  height: calc(1px + 1.8vh + 0.7vw);;
  background-color: black;
  color: black;
}

.number-cell-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: calc(.4vh + .2vw);
  border: calc(1px + 0.10vh + 0.06vw) solid black;
  width: calc(1px + 1.8vh + 0.7vw);
}

.number-cell-top-inner-pad {
  height: calc(.5vw + .5vh);
  width: calc(.5vh + .5vw);
}

.number-cell-left {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  border-radius: calc(.4vh + .2vw);
  border: calc(1px + 0.10vh + 0.06vw) solid black;
  height: calc(1px + 1.8vh + 0.7vw);
}

.cell-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(1px + 1.8vh + 0.7vw);
  width: calc(1px + 1.8vh + 0.7vw);
  transition: opacity 100ms;
  -moz-transistion: opacity 100ms;
  -webkit-transition: opacity 100ms;
}
