.dropdown-container {
  display: flex;
  justify-content:space-between;
  flex-direction:column;
  background-color: lightgrey;
}

.dropdown-item {
  background-color: cornflowerblue;
  width: 100px;
  margin: 10px;
}

.settings-icon:hover {
  cursor: pointer;
}

.settings-icon-svg {
  height: 16px;
  width: 16px;
}

.assist-text {
  float: right;
  color: white;
  font-size: 16px;
  margin-top: .5em;
}

.assist-text:hover {
  cursor: pointer;
}

